

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/work-sans-v8-latin-300.woff2') format('woff2'),
       url('/fonts/work-sans-v8-latin-300.woff') format('woff');
}


@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/work-sans-v8-latin-400.woff2') format('woff2'),
       url('/fonts/work-sans-v8-latin-400.woff') format('woff');
}


@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/work-sans-v8-latin-600.woff2') format('woff2'),
       url('/fonts/work-sans-v8-latin-600.woff') format('woff');
}


@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/work-sans-v8-latin-700.woff2') format('woff2'),
       url('/fonts/work-sans-v8-latin-700.woff') format('woff');
}

