.footer {

	flex-shrink: 0;
	margin: 32px 0;
	text-align: center;

	.copyright {

		color: var(--text);
		font-size: 14px;
		line-height: 20px;
		margin: 20px 0;

		@media ($smWidth) {

			font-size: 12px;
			margin: 10px 0;

		}

	}

}